.map {
    border: medium solid #999;
    display: block;
  margin-left: auto;
  margin-right: auto

}

.Countries1{
	fill: #FFF;
    stroke: #CCC;
    stroke-width: 1px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}
